.textFieldEditUser {
    position: relative;
    top: 20px;
}

.textFieldEditUser2 {
    position: relative;
    top: 40px;
}

.textFieldEditUser3 {
    position: relative;
    top: 60px;
}

.buttonContainerEditUser {
    position: relative;
    top: 40px;
}