.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeDiv {
    background-image: url("https://res.cloudinary.com/dg9za4xcz/image/upload/v1651252650/home3_g6la72.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.photo {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
}

.column {
    background-color: rgb(207, 228, 241);
}